<% title @organization.name %>
<% title_image @organization.logo.url if @organization.logo_file_name %>

<% if @organization.url %>
<div>
	<%= link_to t('helpers.links.website'), @organization.url, :class => 'btn btn-mini' if @organization.url %>
</div>
<% end %>

<% if current_user.organizations.index{|x| x.id.to_s == params[:id]} %>
<div style='margin: 10px 0;'>
	<ul>
		<li>
			# Ideas in Progress: <%= @ideas[:in_progress].length %>
		</li>
		<li>
			# Ideas Realized :  <%= @ideas[:realized].length %>
		</li>
	</ul>
</div>
<% end %>

<%= render :partial => "shared/ideas_block", :object => @ideas, :locals => {:organization_only => true} %>
